center {
    display: block;
    text-align: -webkit-center;
}

.searchbar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    width: 582px;
}
/* obsolete? 
.searchbar-inside {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
*/

.searchbar-inside {
    width: 100%;
}

.srch-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.input-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.pre-bar {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font: 16px arial,sans-serif;
    line-height: 34px;
    display: block;
}

#main-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-align: start;
    -webkit-appearance: textfield;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
}

.srch-wrapper2 {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.srch-container {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.srch-icon {
    display: block;
    height: 100%;
    width: 100%;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
    fill: currentColor;
}


input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

input[type="submit" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

input[type="submit" i]:active {
    border-style: inset;
}

.buttons-wrapper input[type="submit"] {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons-wrapper input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.buttons-wrapper input[type="submit"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

/* ====== ADVANCED SETTINGS ====== */

div.bottom-wrapper {
    min-height: 100%;
    margin: 0 auto -60px;
}

.top-bar {
    color: #000;
    font: 13px/27px Arial,sans-serif;
    left: 0;
    min-width: 1002px;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%;
}

/* this helps with positioning the elements */
div.lOTAE {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}




/* Navbar Styles */

nav {
    font-family: arial, sans-serif;
    font-size: 13px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
  
nav li {
    float: left;
    background-color: none;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
    color: #666;
    border: 1px solid rgba(0,0,0,0);
}

nav li a:hover {
    background-color: #f3f3f3;
    color: #222;;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}

nav .active {
    color: white;
    background-color: #008CBA;
}

